.forum_transport {
  padding: 10rem 10rem 0rem 10rem;
}
.furam_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.transport_forum {
  width: 49%;
}

.forum_transport_content_left,
.forum_transport_content_right {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.forum_transport_content {
  background: #F3F5F7;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}
.forum-icon {
  padding-top: 10rem;
}
.forum-icon img {
  width: 40px;
}
.forum_transport_content .icon img {
  width: 40px;
  height: 40px;
}
.forum_transport_content h3 {
  padding: 4.6rem 0 2rem;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: #b28e5e;
}
.forum_transport_content .description p {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 3rem;
  text-align: center;
  color: #808080;
}
.btn_wrapper {
  padding: 5rem 0rem;
}
.btn_more {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1, 5ren;
  text-decoration-line: underline;
  color: #666666;
}
.forum_transport_content .btn_more svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.7rem;
}
@media (max-width: 767.98px) {
  .furam_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .transport_forum {
    width: 100%;
  }
  .forum_transport {
    padding: 10px;
  }
  .forum_transport_content {
    padding: 1rem;
    margin-bottom: 20px;
  }
  .forum_transport_content .icon img {
    height: 26px;
    width: 26px;
  }
  .forum_transport_content h3 {
    font-size: 1.9rem;
 
  }

}
