.who_we_are {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.about_content {
  width: 50%;
}
.about_image{
    width: 40%;
    padding: 2rem;
}
.about_image img{
 width: 100%;
}
.about_us {
  background-color: #f3f5f7;
  padding: 12.9rem 0 15.1rem 0;
}
.our_service {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.3em;
  color: #666666;
  padding-bottom: 1rem;
}
.about_desc {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #808080;
  padding: 2rem 0 7.1rem 0;
}
@media (max-width: 767.98px) {
  .who_we_are {
    flex-direction: column-reverse;
}
.about_content {
  width: 100%;
  padding-top: 4rem;
}
.about_image {
  width: 100%;
  padding: 0;

}
}